<div class="col align-text-center">
    <div class="card text-white bg-info mb-6" style="max-width: 40rem; color: rgb(8, 43, 241)">
        <div class="card-header"><h4>TASK MANAGEMENT</h4></div>
        <div style="text-align:center">
  
  <br/>
  <input placeholder="NEW TASK" #new_task>
  <button (click)="add(new_task.value)">ADD</button>
  <br/>
  <div style="margin-left: 40%; text-align: justify;">
    <ul>
      <li *ngFor="let task of tasks">
        <button (click)="remove(task)">&#9989;</button> {{ task }}
      </li>
    </ul>
  </div>  
</div>
</div>
</div>


 